In [4]:
import pandas as pd

In [3]:
psg_player = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
          index =[1,7,10,30]
          )

In [4]:
psg_player

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [13]:
# si no le asigno index toma una lista ordenada
psg_player = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi']
                    )

In [6]:
dict = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [8]:
psg_player[1]

'Navas'

In [12]:
psg_player[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [2]:
dict = {'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'Altura': [183.0, 170.0, 170.0, 165.0],
 'Goles': [2,200,200,200]}

In [8]:
df_Players = pd.DataFrame(dict)

In [9]:
df_Players.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [11]:
df_Players

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200